.container {
  display: column;
  background-color: #2d6ab3;
  margin-left: 10px;
  margin-right: 85%;
  padding-bottom: 200px;
  border-radius: 10px;
  text-align: center;
  justify-content: space-around;
}
