.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
  /* background-image: url(/wallpaper-bola.jpeg); */
}

/* .contenedor img {
  width: 100vw;
  height: 100vh;
} */
/* .wallp {
  position: absolute;
  size: 100%;
} */
.home {
  position: absolute;
  top: 35%;
  left: 12%;
  transform: translate(-50%, -50%);
  font-family: "Verdana";
}

.divimg {
  position: absolute;
  top: 20%;
  left: 3.5%;
  height: 75px;
  width: 233px;
  overflow: hidden;
}
.pokeworld {
  height: 100px;
}
